<h1>Welcome to the Hellosign Test App</h1>
<!-- <button onclick="myFunction()">Click here to open form</button> -->


<%= form_tag signatures_path, method: :post do %>  <%= label_tag 'Name' %>  <%= text_field_tag :name %>  <%= label_tag 'Email' %>  <%= text_field_tag :email %>  <%= submit_tag 'Create Embedded Signature Request' %> <% end %>


<script type="text/javascript" src="https://s3.amazonaws.com/cdn.hellosign.com/public/js/hellosign-embedded.LATEST.min.js"></script>

<script>
  function myFunction(){
    HelloSign.init("b283237461ddc11a6425aa0fe2cf262d");
    HelloSign.open({
        url: "https://app.hellosign.com/editor/embeddedSign?signature_id=50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b&token=b6b8e7deaf8f0b95c029dca049356d4a2cf9710a",
        allowCancel: true,
        messageListener: function(eventData) {
            l("Got message data: " + JSON.stringify(eventData));

            if (eventData.event == HelloSign.EVENT_SIGNED) {
              //do something for document getting signed
            }
            else if (eventData.event == HelloSign.EVENT_CANCELED) {
          //do something else for document closing before getting signed
            }
            else if (eventData.event == HelloSign.EVENT_ERROR) {
          //do something for an error situation
            }
            else if (eventData.event == HelloSign.EVENT_SENT) {
          //not used in this example
          //only used for embedded requesting
            }

        }
    });
}

</script>

